[submodule "website/themes/ananke"]
	path = website/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "website/themes/hugo_theme_pickles"]
	path = website/themes/hugo_theme_pickles
	url = https://github.com/mismith0227/hugo_theme_pickles.git
	branch = release
